<h1><strong>View <%= pluralize(@questions.count, "Question") %></strong></h1>
<form action="/questions" method="post">
<table class="table table-warning table-bordered border-dark table-striped">
	<thead>
		<th scope="col">Question Text</th>
		<th scope="col">Actions</th>
	</thead>
	<tbody>
		<% @questions.each do |question| %>
		<tr>
			<td><%= question.question_text %></td>
			<td>
				<a href="/questions/<%= question.id%>/edit">Edit</a> |
				<a href="/questions/<%= question.id%>/delete">Delete</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="/questions/new">Create More Questions</a>