<strong><h1>View Response</h1></strong>
<table class="table table-warning table-bordered border-dark table-striped">
	<thead>
		<th>Response</th>
	</thead>
	<tbody>
		
		<tr>
			<td><%= @questions.responses %></td>
		</tr>
		
	</tbody>
</table>