<h1><strong>Edit <%= @survey.survey_name %></strong></h1>
<form action="/surveys/<%= @survey.id %>" method="post">
	<div>
		<label>Survey Name:</label>
		<input type="text" name="survey[survey_name]" value="<%= @survey.survey_name%>" class="form-control">
	</div>
	<input type="submit" value="Update" class="btn btn-success">
</form>
<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
	<div class="alert-danger"><%= e %><div>
	<%end%>
<%end%>