<h1>View <%= pluralize(@surveys.count, "Survey") %></h1>
<table class="table table-striped">
	<thead>
		<th scope="col">Survey Name</th>
		<th scope="col">Actions</th>
	</thead>
	<tbody>
		<% @surveys.each do |survey| %>
		<tr>
			<td><%= survey.survey_name %></td>
			<td>
				<a href="/surveys/<%= survey.id%>/edit">Edit</a>|
				<a href="/surveys/<%= survey.id%>/delete">Delete</a>|
				<a href="/questions/">Questions</a>|
				<a href="/respondent">Respondents</a> 
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="/surveys/new">Create Surveys</a>