<h1>View <%= @surveys.survey_name %> Respondent</h1>
<table>
	<thead>
		<th>Survey</th>
			</thead>
	<tbody>
		<% @respondent.each do |respondent| %>
		<tr>
			<td><%= respondent.first_name %> <%= respondent.last_name %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="/respondent">View Respondents</a>